RewriteEngine on

DirectoryIndex index.php

RewriteRule (config) App/pages/notfound.php [NC]
RewriteRule (pages) App/pages/notfound.php [NC]

RewriteCond %{SCRIPT_FILENAME} !-f
RewriteCond %{SCRIPT_FILENAME} !-d
RewriteCond %{SCRIPT_FILENAME} !-l
RewriteRule ^(.*)$ App/pages/notfound.php/$1
