RewriteEngine on

DirectoryIndex index.php

RewriteRule (config) notfound.php [NC]
RewriteRule (pages) notfound.php [NC]

RewriteCond %{SCRIPT_FILENAME} !-f
RewriteCond %{SCRIPT_FILENAME} !-d
RewriteCond %{SCRIPT_FILENAME} !-l
RewriteRule ^(.*)$ index.php?url=$1 [L]
