RewriteEngine On

RewriteRule ^(ConfigFile) notfound.html [NC]
RewriteRule (.)*index.php$ index.php

RewriteCond %{SCRIPT_FILENAME} !-f
RewriteCond %{SCRIPT_FILENAME} !-d
RewriteCond %{SCRIPT_FILENAME} !-l
RewriteRule ^(.*)$ notfound.html